.rectangle-1 {
    position: relative;
    width: 921px;
    height: 84px;
    background: rgba(217, 217, 217, 0);
    border: 1px solid #41629f;
    z-index: 13;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;


    .img {
        width: 70px;
        height: 69px;
        background-size: cover;
        z-index: 14;
        margin-left: 20px;
        margin-right: 70px;
    }

    .totalDaqueleProduto {
        width: 170px;
        height: 21px;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-overflow: initial;
        white-space: nowrap;
        z-index: 17;
    }

    .r {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .nbsp {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .nbsp-oo {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .text-a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        height: 25%;
        color: #41629f;
        font-family: Playfair Display;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 22;
    }

    .precoUnidade {
        width: 170px;
        height: 21px;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-overflow: initial;
        white-space: nowrap;
        z-index: 16;
    }

    .r-dollar {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .valorUnitario {

        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .space-slash {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .unit {
        color: #41629f;
        font-family: Playfair Display;
        font-size: 12px;
        font-weight: 400;
        line-height: 21.328px;
        text-align: left;
    }

    .rectangle-2 {
        margin-left: 85px;
        margin-right: 85px;
        position: relative;
        width: 9.12%;
        height: 23.81%;
        background: rgba(217, 217, 217, 0);
        border: 1px solid #8ca4bc;
        z-index: 19;
    }

    .line-3 {
        position: absolute;
        width: 1.19%;
        height: 95%;
        top: -5%;
        left: 22.62%;
        background: url(https://static.codia.ai/custom_image/2025-04-09/125056/vertical-line-1.svg) no-repeat center;
        background-size: 100% 100%;
        z-index: 20;
    }

    .line-4 {
        position: absolute;
        width: 1.19%;
        height: 95%;
        top: -5%;
        left: 71.43%;
        background: url(https://static.codia.ai/custom_image/2025-04-09/125056/vertical-line-2.svg) no-repeat center;
        background-size: 100% 100%;
        z-index: 21;
    }

    .mdi-plus {
        position: absolute;
        width: 17.86%;
        height: 15px;
        top: 3px;
        left: 77.38%;
        background: url(https://static.codia.ai/custom_image/2025-04-09/125056/plus-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 23;
        overflow: hidden;
        border: 1px solid #8ca4bc;
    }

    .fluent-subtract-regular {
        position: absolute;
        width: 17.86%;
        height: 15px;
        top: 3px;
        left: 2.38%;
        background: url(https://static.codia.ai/custom_image/2025-04-09/125056/subtract-icon.svg) no-repeat center;
        background-size: cover;
        z-index: 24;
        overflow: hidden;
        border: 1px solid #8ca4bc;
    }

    .nomeProduto {
        width: 170px;
        height: 21px;
        color: #000000;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        white-space: nowrap;
        z-index: 15;
    }

    .botao-excluir{
        background: rgba(217, 217, 217, 0);
        border: 2px solid #41629f;
        cursor: pointer;
        transition: transform 0.5s ease;
        border-radius: 5px;
        width: 70px;
        margin-right: 5px;
    }

    .botao-excluir:hover{
        background-color: rgb(204, 0, 0);
      }

}