.pagina-reservaFinalizada {

  header {
    background-color: FFFFFF;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid #41629f;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    /* Altura total da tela menos a altura do header */
  }


  .rectanglegg {
    width: 657px;
    height: 154px;
    background: #41629f;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; // Remove o sublinhado
    border-radius: 8px; // Adiciona bordas arredondadas
    cursor: pointer;
    color: #ffffff;
    font-family: 'Princess Sofia', cursive;
    font-size: 48px;
    font-weight: 400;
    line-height: 74px;
    transition: background-color 0.3s ease;
}

.rectanglegg:hover {
    background-color: #314a7f; // Cor ao passar o mouse
}

  .btn-reserva-finalizada{
    height: 74px;
    color: #ffffff;
    font-family: 'Princess Sofia', cursive;
    font-size: 48px;
    font-weight: 400;
    line-height: 74px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
    text-decoration: underline;
  }

  .mensagem-confirmacao {
    width: 600px;
    height: 80px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: left;
    text-overflow: initial;

    z-index: 20;
  }

  .mensagem-confirmacao-1 {
    position: relative;
    color: #000000;
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: left;
  }

  .verdadeiro-prazer {
    height: 37px;
    color: #41629f;
    font-family: Princess Sofia;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: relative;
    height: 299px;
    background: rgba(217, 217, 217, 0);
    border-top: 1px solid #41629f;
  }

  .divLogo,
  .divContatos,
  .divLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }


  .wmremove-transformed-4 {
    width: 206.593px;
    height: 124px;
    background-size: cover;
    z-index: 20;
  }

  .links {
    height: 27px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.66px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }

  .contato {
    height: 27px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.66px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }



  .ic-baseline-facebook {
    width: 31px;
    height: 31px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/135535/facebook-icon.svg) no-repeat center;
    background-size: cover;
    z-index: 16;
    overflow: hidden;
  }



  .avenida-engenheiro-stevaux {
    width: 281px;
    height: 63px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.328px;
    text-align: left;
    z-index: 19;
  }

  .produtos {
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }

  .mdi-instagram {
    width: 31px;
    height: 31px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/135535/instagram-icon.svg) no-repeat center;
    background-size: cover;
    z-index: 15;
    overflow: hidden;
  }

  .segredo-sabor-confeitaria-5,
  .segredo-sabor-confeitaria {
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
  }

  .contato-6 {
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }

  .telefones {
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }

  .flex-row-whats,
  .flex-row-face,
  .flex-row-insta {
    display: flex;
    justify-content: space-between;
    height: 31px;
    z-index: 23;
    gap: 5px;
  }

  .ic-sharp-whatsapp {
    flex-shrink: 0;
    position: relative;
    width: 31px;
    height: 31px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/135535/whatsapp-icon.svg) no-repeat center;
    background-size: cover;
    z-index: 17;
    overflow: hidden;
  }

  .phone-number {
    flex-shrink: 0;
    position: relative;
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }

  .nossa-marca {
    height: 21px;
    color: #000000;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }

}