.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 16px;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease;
}

.card .img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .nome-produto {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.card .descricao {
    padding: 0 16px;
    font-size: 14px;
    color: #666;
}

.card .valor {
    padding: 0 16px;
    font-size: 18px;
    font-weight: bold;
    color: #41629f;
    margin-top: 10px;
}

.card .botao-reserva {
    display: block;
    width:250px;
    margin: 16px;
    padding: 12px;
    background-color: #41629f;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.card .botao-reserva:hover {
    background-color: #314a7d;
}

.card:hover{
    transform: scale(1.1);
}